/* Styles for Signin component */
.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set minimum height for viewport */
  }
  
  .signin h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signin form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .signin form label {
    margin-bottom: 5px;
    display: block;
  }
  
  .signin form input[type="text"],
  .signin form input[type="email"],
  .signin form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .signin form button[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signin form button[type="submit"]:hover {
    background-color: #45a049; /* Green darker shade on hover */
  }
  